@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@800&display=swap');
body{
    font-family: 'Figtree';
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    background-color: hsl(0, 0%, 100%);
    height: 540px;
    border-radius: 20px ;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px black;
}
.image {
    vertical-align: middle;
    height: 200px;
    border-radius: 20px ;
    margin: 30px;
}
.Learning_div{
    padding-left: 30px;
}
.Published{
    color: hsl(0, 0%, 7%);
    padding-left: 30px;
    margin-top:20px;
}

.Learning{
    background-color: hsl(47, 88%, 63%);
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    border-radius: 5px ;
    font-weight: bold;
    font-size: 15px;
}
.text_1{
    text-align: left;
    font-weight:800;
    font-size: 22px;
    margin-bottom: 20px;
    padding-left: 30px;
    margin-top:20px;  
}
.text_1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
.text_2{
    text-align: left;
    font-weight:400;
    color: gray;
    font-size: 16px;
    padding-left: 30px;
}

.name{
    margin-top: 40px;
    font-weight: bold;
}

.avatar{
    height: 35px;
    vertical-align:middle ;
    padding-left: 30px;
    padding-right: 10px;
}





